@use 'base' as *;

.header {
	background-color: rgba(250, 249, 248, 0.8);
	padding: 16px 0;
	box-shadow: 0 0 50px $clr-bg-dk;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo-link {
		display: flex;
	}

	&__logo {
		width: 100%;
	}

	&__search {
		display: flex;
		align-items: center;
		column-gap: 14px;
		flex-grow: 1;
		padding: 12px 16px;
		max-width: 375px;
		border-radius: $border-radius;
		background-color: $clr-bg-lt;
	}

	&__search-input {
		width: 100%;
		border: none;
		outline: none;
		background: transparent;
		@include font(16px, 24px);
		font-family: $ff-base;
	}

	&__select {
		position: relative;

		&-btn {
			display: flex;
			align-items: center;
			column-gap: 7px;
			padding: 12px 20px;
			border: none;
			border-radius: $border-radius;
			@include font(16px, 24px, 500);
			font-family: $ff-base;
			background-color: $clr-bg-dk;
			cursor: pointer;
		}
	}

	&__arrow {
		transition: all 0.3s ease-in-out;

		&_rotated {
			transform: rotate(180deg);
		}
	}
}

.dropdown {
	display: none;
	position: absolute;
	top: calc(100% + 20px);
	right: 0;
	width: 240px;
	padding: 8px;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	z-index: 100;
	transition: all 0.3s ease-in-out;

	&_active {
		display: block;
	}

	&__title {
		margin-bottom: 8px;
		padding: 12px 16px;
		@include font(10px, 15px, 700);
		font-family: $ff-base;
		color: $clr-base-lt;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border-bottom: 1px solid rgba(176, 178, 177, 0.1);
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 12px;
		padding: 12px;
		padding-right: 40px;
		cursor: pointer;
		border-radius: 8px;
		transition: all 0.3s ease;
		@include font(16px, 24px, 500);
		font-family: $ff-base;
		color: $clr-base;

		&:hover {
			background-color: $clr-bg-lt;
		}

		.dropdown__icon {
			width: 40px;
			height: 40px;
			border-radius: 6px;
			object-fit: cover;
		}

		&::after {
			content: '';
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background-image: url('../img/checkmark.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			display: none;
		}

		&_active::after {
			display: block;
		}
	}
}
